@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Roboto:ital,wght@1,300&display=swap');

//Colors
$Background: #333;
$DefWhite: #fff;
$LightBrown: #a28352;
$ContactColor: #ba945e;


//Fonts
$MainFont: 'Roboto', sans-serif;
$NewsFont: 'Libre Caslon Text', serif;