@import '../../ScssVars/Variables.scss';

.NewsItem {
    padding: 45px 30px 69px 30px;
    width: 30%;
    height: 15em;
    overflow: hidden;
    box-shadow: 0 0 20px $Background;
}

.title{
    font-family: $NewsFont;
    font-size: 1.2em;
    line-height: 1.3em;
}

.contentwrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 10em;
}

.date {
    color: $LightBrown;
    font-weight: 700;
}
