@import '../../../ScssVars/Variables.scss';

.newsitem {
    padding: 45px 30px 69px 30px;
    width: 30%;
    height: 15em;
    overflow: hidden;
    box-shadow: 1px 8px 40px rgb(0 0 0 / 15%);
}

.newsitemFocused {
    padding: 45px 30px 69px 30px;
    width: 30%;
    height: 15em;
    overflow: hidden;
    box-shadow: 1px 8px 40px rgb(0 0 0 / 30%);

    .title {
        text-decoration: underline;
    }
}

.title{
    font-family: $NewsFont;
    font-size: 1.2em;
    line-height: 1.3em;
}

.contentwrapper {
    white-space: wrap;
    max-height: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    color: $LightBrown;
    font-weight: 700;
}
