@import '../../../ScssVars/Variables.scss';

.depitem {
    padding: 0.5em 1.5em 1.5em 1.5em;
    width: 48%;
    height: 9em;
    //box-shadow: 0 0 3px $Background;
    box-shadow: 1px 8px 40px rgb(0 0 0 / 15%);
    margin-bottom: 1.5em;
}

.depitemFocused {
    padding: 0.5em 1.5em 1.5em 1.5em;
    width: 48%;
    height: 9em;
    //box-shadow: 0 0 30px $Background;
    box-shadow: 1px 8px 40px rgb(0 0 0 / 30%);
    margin-bottom: 1.5em;

    .title {
        text-decoration: underline;
    }
}

.title {
    font-family: $NewsFont;
    font-size: 1.2em;
    color: $LightBrown;
}

.contentwrapper {
    //text-wrap: wrap;
}

.content {
    font-family: $NewsFont;
    font-size: 1em;
}