@import '../../ScssVars/Variables.scss';

.newswrapper {
    width: 80%;
    margin: 2em auto 6em auto;
}

.itemswrapper {
    margin-top: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 1.4em;
    color: $Background;
    font-family: $NewsFont;
    text-decoration: underline;
    text-align: left;
}
